<!-- <ng-template #container></ng-template> -->
<dx-gantt #ganttComponent taskListWidth="500" scaleType="weeks" height="700">
  <dxo-tasks
    [dataSource]="tasks"
    keyExpr="id"
    parentIdExpr="parentTaskId"
    titleExpr="taskTitle"
    startExpr="startDate"
    endExpr="endDate"></dxo-tasks>

  <dxo-dependencies
    [dataSource]="dependencies"
    keyExpr="id"
    typeExpr="dependencyType"
    predecessorIdExpr="predecessorId"
    successorIdExpr="successorId"></dxo-dependencies>
  <dxo-resources
    [dataSource]="resources"
    keyExpr="id"
    textExpr="text"></dxo-resources>
  <dxo-resource-assignments
    [dataSource]="resourceAssignments"
    keyExpr="id"
    resourceIdExpr="resourceId"
    taskIdExpr="taskId"></dxo-resource-assignments>

  <dxi-column dataField="title" caption="Tarefa" [width]="300"></dxi-column>
  <dxi-column dataField="start" caption="Inicio" dataType="date"></dxi-column>
  <dxi-column dataField="end" caption="Fim" dataType="date"></dxi-column>

  <dxo-validation [autoUpdateParentTasks]="false"></dxo-validation>
  <dxo-editing [enabled]="false"></dxo-editing>
</dx-gantt>
