<!-- <ng-template #container></ng-template> -->
<dx-gantt
  #ganttComponent
  taskListWidth="600"
  scaleType="weeks"
  [allowSelection]="false"
  sorting="{
    mode : 'none'
  }"
  [rootValue]="-1">
  <dxo-tasks
    [dataSource]="tasksDataSource"
    colorExpr="taskColor"></dxo-tasks>

  <dxo-dependencies
    [dataSource]="dependencies"></dxo-dependencies>
  <dxo-resources
    [dataSource]="resources"></dxo-resources>
  <dxo-resource-assignments
    [dataSource]="resourceAssignments"></dxo-resource-assignments>

  <dxi-column dataField="title" caption="Tarefa" [width]="300"></dxi-column>
  <dxi-column dataField="start" caption="Inicio" dataType="date" [width]="150"></dxi-column>
  <dxi-column dataField="end" caption="Fim" dataType="date" [width]="150"></dxi-column>

  <dxo-validation [autoUpdateParentTasks]="true"></dxo-validation>
  <dxo-editing
    [enabled]="false"
    ></dxo-editing>
</dx-gantt>
