<h2 class="content-block">M4 | Criação de EAP, custos e cronograma.</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <h3><strong>Aluno:</strong> Anderson Vilmar Foletto Koester</h3>
    <p>Imagine que você é o gerente de projetos (R$ 35,00/hora) designado para criar uma EAP, cronograma e estimar custos. O cenário é de três meses com dois desenvolvedores (R$ 20,00/hora) e um analista (R$ 30,00/hora).</p>
    <p>O software a ser desenvolvido é um sistema web de e-commerce. Considere as áreas da EAP Gestão do Projeto, Requisitos, desenvolvimento com testes, correção de erros e planejamento de sprints.</p>
    <p>Após a criação da EAP, criar um cronograma baseado na EAP. Não existe certo ou errado, a avaliação é para verificar se o aluno consegue estrutura uma EAP, seus custos e um cronograma.</p>
    <hr>
    <p>Este projeto está dividido em 3 páginas:</p>
    <dl>
      <dt>EAP</dt>
      <dd>Apresentação do diagrama EAP, contendo o levantamento das atividades</dd>
      <dt>Cronograma</dt>
      <dd>Contem o cronograma de entregas do projeto.</dd>
      <dt>Orçamento</dt>
      <dd>Resumo do levantamento de custos totais do projeto.</dd>
    </dl>
  </div>
</div>
